/*----------  Variables ----------*/
$primary-color: #f72d02;
$secondary-color: #fcd7d7;
$tertiary-color: white;

$shadow-color: #b08e8e;
$generic-gradient-primary-color: #6F4B97;
$spot-color-primary: #6AB4DD;
$complementary-primary-color: #00AB6D;
$complementary-secondary-color: #02F79F;

/*----------  Mixins ----------*/
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
